<script src="https://cdn.jsdelivr.net/clipboard.js/1.5.10/clipboard.min.js"></script>
<div class="header">
  <div class="content">
    <p class="logo brandon"></p><p>THANK YOU FOR SIGNING UP</p>
  </div>
</div>

<script>
    var clipboard = new Clipboard('.btn');

    clipboard.on('success', function(e) {
        console.info('Action:', e.action);
        console.info('Text:', e.text);
        console.info('Trigger:', e.trigger);

        e.clearSelection();
    });
</script>

<div class="container-fluid hero">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-md-push-7 col-lg-5 col-lg-push-6 share-wrap" style="z-index: 999">
      <h1>We invite you to share us<br/>to win rewards</h1>
      <p class="subtitle">Share your unique link via e-mail, Facebook or Twitter<br> and earn Bluesmart goods for every person who signs up.</p>
        <div class="input-group" style="padding: 30px;">
            <input style="text-align: center;" id="link" type="text" readonly value="<%= root_url %>?ref=<%= @user.referral_code %>" class="form-control" aria-describedby="basic-addon2">
            <span class="input-group-addon btn" data-clipboard-target="#link">copy link</span>
        </div>
      <% twitter_message = "I've gained early access to the new @bluesmart suitcase launch. Check it out here" %>
      <div class="social-links">
        <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=Bluesmart" class="fb" target="_blank"></a>
        <div class="sep"></div>
        <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" class="twit" target="_blank"></a>
      </div>
    </div>
    <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 col-md-pull-5 col-lg-7 col-lg-pull-4" style="padding-left:0px;">
      <div class="mammoth"></div>
    </div>
  </div>
</div>

<%
  referrals_count = @user.referrals.count

  stops = User::REFERRAL_STEPS

  found = nil

  stops.reverse_each { |stop|
    if stop["count"] <= referrals_count and !found
      stop["selected"] = true
      found = stop
    else
      stop["selected"] = false
    end
  }
%>
<div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
  <div class="page-content">
    <p class="callout brandon">Here's How It Works:</p>
    <ul class="products clearfix">
      <li class="title brandon"><p class="friends">Friends Joined</p><p class="rewards">Bluesmart's Product</p></li>
      <% stops.each do |stop| %>
        <li class="product brandon <% if stop["selected"] %>selected<% end %> <% if stop["class"] == 'five' %>last<% end %>">
          <div class="circle"><%= stop["count"] %></div>
          <div class="sep"></div>
          <p><%= stop["html"].html_safe %></p>

          <div class="tooltip">
            <img src="<%= stop["image"] %>" height="254">
          </div>
        </li>
      <% end %>
    </ul>

    <div class="progress">
      <div class="mover">
        <div class="bar clearfix"></div>
      </div>
    </div>

    <%
      words = ''
      if referrals_count == 1
        words = 'friend has'
      elsif
        words = 'friends have'
      end
    %>

    <% if referrals_count == 0 %>
      <p class="place brandon"><span>No</span> friends have joined...Yet!</p>
    <% else %>
      <p class="place brandon"><span><%= referrals_count %></span> <%= words %> joined</p>
    <% end %>
    <p class="check brandon">Keep checking</p>

    <p class="ship brandon"></p>
    <a class="policy brandon" href="/privacy-policy" target="_blank">Privacy Policy</a>
  </div>
</div>