<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 <%= @bodyId %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 <%= @bodyId %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 <%= @bodyId %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 <%= @bodyId %>"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="<%= @bodyId %>"> <!--<![endif]-->
<head>
  <title>Bluesmart Black Edition is Coming</title>
  <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
  <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">

  <meta property="og:title" content="Black Edition is coming"/>
  <meta property="og:description" content="I've gained early access to the new @bluesmart suitcase launch. Check it out here "/>
  <meta property="og:image" content="http://prelaunch.bluesmart.com/assets/refer/bluesmart_facebook.jpg"/>
  <meta property="og:url" content="<%= root_url %>"/>

  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="description" content="">

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= @bodyId %>">

<%= yield %>

<%= javascript_include_tag "application" %>
</body>
</html>
